<section id="article--{{ block.id }}" class="section py-18" is="block--article">
    <div class="container">
    <article class="prose">
        {{ fields.content }}
    </article>
    </div>
</section>