<section id="control--{{ block.id }}" class="section py-18">
		<div class="container">
			<div class="intro__wrapper">
				<article class="prose">
					<h2>{{ fields.heading }}Do you want to take back control of your health?</h2>
                    {{ fields.description }}
						<p>For many of us in our 50s and beyond, decades of balancing work, family and home life has taken its toll.</p>
						<p>Your best intentions for eating healthy, staying in shape and managing stress over the years have left you confused about what to eat, how to prepare healthy meals easily and make lifestyle changes that last.</p>
						<p>If the quality of your health as you age is getting in the way of your lifestyle aspirations...</p>
						<p>If you're worried about taking medications or having surgery...</p>
						<p>And, if you wonder if there's something else you can do to get back to your old self and the energy you once had, <strong>not only for right now but for all your tomorrows...</strong></p>
						<p>Then Eat to Heal Over 50 is your key to wellness in as little as 90 days.</p>
				</article>
			</div>
		</div>
	</section>