<div class="post__snippet">
    <img src="{{ theme.path ~ '/static/img/laurie-book.webp' }}" alt="" class="snippet__img">
    <div class="snippet__right">
        <p class="snippet__copy">{{ fields.description }} Think a plant-based diet is complicated and don't know where to start? Grab a copy of my FREE 5 tips for a stress-free plant-based diet.</p>
        <a href="#" class="btn btn--primary"><span class="download-icon"></span>Download now</a>
    </div>  
</div>