<section id="image--{{ block.id }}" class="section section--img">
    <img src="{{ fields.image }}" alt="" class="img__banner">
    {# <img src="{{ theme.path ~ "/static/img/laurie-banner1.webp" }}" alt="" class="img__banner"> #}
</section>