{% if menu %}
	<ul class="nav__menu">
	{% for item in items %}
		<li class="nav__menu__item {{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
