{% extends "base.twig" %}

{% block content %}
<section id="content--page" class="section py-18">
	<div class="container">
		<article id="post-{{post.ID}}" class="prose post-type-{{post.post_type}}">
			{{ post.content }}
		</article>
	</div>
</section>

{% include 'partial/cta.twig' %}

{% endblock %}