<header id="header" class="header">
    <nav id="nav" class="nav" role="navigation">
        <div class="nav__container">
            <a href="/" class="nav__brand">
                <img src="{{ theme.path ~ '/static/img/laurie-logo.svg' }}" alt="" class="nav__logo">
            </a>
            <div class="nav__menu">
                {% for item in menu.get_items %}
                <div class="nav__link-wrapper">
                    <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
                </div>
	            {% endfor %}
            </div>
				<a href="https://my.practicebetter.io/#/5c2c0256627d790b8ceefe79/bookings?r=5caf4d67627db307840e2367&step=services" target="_blank" class="nav__btn"><span class="phone-icon"></span>Book a call</a>
				<div class="nav__hamburger"></div>
        </div>
    </nav>
</header>