// ********************
// FORMS
// ********************

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="search"],
textarea {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1;
}

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="search"] {
  min-height: 3rem;

  @media screen and (min-width: map-get($breakpoints, "large")) {
    min-height: 3.5rem;
  }
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
  border: 1px solid map-get($slate, "100");
  background-color: map-get($slate, "50");
  color: map-get($slate, "400");
}

input[type="submit"] {
  border: 1px solid $sanguine;
  background-color: $sanguine;
  box-shadow: 0 10px 15px -3px rgba($black, 0.1),
    0 2px 4px -2px rgba($black, 0.1);
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  cursor: pointer;
}

textarea {
  resize: none;
}

.form__disclaimer {
  width: 75%;
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  color: map-get($slate, "400");
}
