// ********************
// SECTION
// ********************

.section {
    position: relative;

    @media screen and (max-width: map-get($breakpoints, 'small') - 0.0625rem) {
        padding: 2.5rem 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'small')) and (max-width: (map-get($breakpoints, 'medium') - 0.0625rem)) {
        padding: 3.75rem 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'med')) and (max-width: (map-get($breakpoints, 'lg') - 0.0625rem)) {
        padding: 5rem 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'lg')) and (max-width: (map-get($breakpoints, 'xl') - 0.0625rem)) {
        padding: 6.25rem 0;
    }

    @media screen and (min-width: map-get($breakpoints, 'xl')) and (max-width: (map-get($breakpoints, '2xl') - 0.0625rem)) {
        padding: 7.5rem 0;
    }

    @media screen and (min-width: map-get($breakpoints, '2xl')) {
        padding: 8.75rem 0;
    }

}