// ********************
// SECTION
// ********************

.section {
  position: relative;

  &--img {
    padding: unset;
    height: 18.75rem;

    @media screen and (min-width: map-get($breakpoints, "large")) {
      height: 37.5rem;
    }
  }
}
